nav {
  background-color: #1A1A1A;
  float: center;
  margin: 0 auto;
  padding: 2%;
  position: relative;
  width: 50%;
}

* {
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  background-color: #ccc;
  border: 2px solid #7B7B7B;
  float: center;
  padding: 1%;
  margin: 0 auto;
  width: 50%;

}

.arrow {

  margin: 0%;
  padding-left: 80%;

}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4
}

h1 {
  font-size: 1.5em;
  font-weight: 900;
}



.container {
  background-color: #2B2B2B;
  width: 800px;


}
