nav {
  background-color: #1A1A1A;
  margin: 0 auto;
  padding: 2%;
  position: relative;
  width: 50%;
}

* {
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  padding: 1%;
  margin: 0 auto;
  width: 87%;
  display: inline-block;
}


.content h1 {
  font-size: 1.5em;
  font-weight: 900;
}

.location {
background-color: #ccc;
border-bottom: 2px solid #7B7B7B;

}

.location:hover { background-color: #bbb; } /* mouse over */

.arrow {
display: inline-block;
width: 10%;
padding-bottom: 5%;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4
}



.container {
  background-color: #2B2B2B;
  width: 800px;
  margin: auto;
}

.restaurant-list {
  width: 400px;
  margin: auto;
}
